<div class="card mb-3 container-fluid" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="product-title">{{product.title}}</h3>
            <p>{{product.description}}</p>
            <p class="price-tag">${{product.price}}</p>
      </div>
    </div>
    {{#if product.stock}}
                <p class="stock-tag">{{product.stock}} unidades disponibles</p>
                {{#if admin}}
                    <p class="product-owner">propietario: {{product.owner}}</p>
                    <button id="delete-btn" class="delete-btn" onclick="deleteItem(`{{product.id}}`)">Eliminar producto</button>
                    {{else}}
                        <div class="container-fluid">
                            <div class="container-fluid">
                                <button class="less-button-counter" onclick="decreaseAmount(event, {{product.stock}})">-</button>
                                <p class="counter">1</p>
                                <button class="more-button-counter" onclick="increaseAmount(event, {{product.stock}})">+</button>
                            </div>
                            {{#if product.status}}
                                <button id="add-to-cart-btn" class="add-to-cart-btn" onclick="addToCart(event, `{{product.id}}`, `{{user.cart}}`)">Añadir al carrito</button>
                            {{/if}}
                        </div>
                {{/if}}
            {{else}}
                <p class="sold-out">Producto agotado</p>
            {{/if}}
  </div>
</div>

<script src="/statics/js/detail.js"></script>
